*.DS_Store
[Tt]humbs.db
*.pyc
.spyderproject
doc/_build
MANIFEST
*.egg-info
build/
dist/
!MANIFEST.in
pyddscat/testing
doc/_build/
doc/examples/
doc/generated/
bin/
.coverage

ddscat/src/*.o
ddscat/src/*.mod

pyddscat/vtrconvert
pyddscat/ddpostprocess
pyddscat/calltarget
pyddscat/ddscat


ddscat/src/vtrconvert
ddscat/src/ddpostprocess
ddscat/src/calltarget
ddscat/src/ddscat

coverage.xml